.matriz {
    background-color: rgb(25, 215, 117);
    font-family:verdana;
}

#plantas {
    background-color: rgb(58, 210, 16);
    font-family:verdana;
}

#frutos {
    background-color: rgb(199, 41, 10);
    font-family:verdana;
}


