#matriz {
    background-color: rgb(94, 199, 34);
    font-family:verdana;
}

#plantas {
    background-color: rgb(177, 194, 81);
    font-family:verdana;
}

.img {
    background-color: rgb(177, 194, 81);
    font-family:verdana;
}

.imagen {
    background-color: rgb(172, 12, 12);
    font-family:verdana;
}



